html{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100%;
}

#image{
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
}

#h1{
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
}